<html>

<head>
    <title>AWS Healtcheck Report</title>
</head>

<body>



    <div class="table-title">
        <h3 style="text-align: center">DEC AWS PROD EC2</h3>
    </div>

<table style="border: 1px solid;">
  <thead>
            <tr>
                <th width="1%">Hostname</th>

                <th width="1%" style="text-align: center">IP Address</th>

                <th width="1%" style="text-align: center">OS Type</th>

                <th width="1%" style="text-align: center">OS Version</th>
                
                <th width="1%" style="text-align: center">Status</th>                                                    

            </tr>

  </thead>
  <tbody>


    {% for h in ec2_prod %}

      <tr>

        <td style="text-align: center">{{ h.get("tags") }}</td>                                    

        <td style="text-align: center">{{ h.get("private_ip_addr") }}</td>

        <td style="text-align: center">{{ h.get("os") }}</td>

        <td style="text-align: center">{{ h.get("os_version") }}</td>

            {% if h.get("status") == "up" %}
            <td style="text-align: center;">🟩 UP</td>
            
            
            {% elif h.get("status") != "up" %}
            <td style="text-align: center;">❌DOWN</td>                            
                            
                            
            {% endif %}                


      </tr>

    {% endfor %}

  </tbody>
</table>


<br/>
<br/>


    <div class="table-title">
        <h3 style="text-align: center">DEC AWS PROD RDS</h3>
    </div>

<table style="border: 1px solid;">
  <thead>
                <th width="1%" style="text-align: center">Instance Name</th>                
                <th width="1%" style="text-align: center">Database Name</th>
                <th width="1%" style="text-align: center">Status</th>

  </thead>
  <tbody>


    {% for rds in rds_prod %}

      <tr>

        <td>{{ rds.get("addr") }}</td>        

                            
        <td style="text-align: center">{{ rds.get("instance_id") }}</td>

            {% if rds.get("status") == "available" %}
            <td style="text-align: center;">🟩 UP</td>
            
            
              {% elif rds.get("status") != "available" %}
              <td style="text-align: center;">❌DOWN</td>            
            
            {% endif %}

                    
      </tr>

    {% endfor %}

  </tbody>
</table>    

    <br/>
    <br/>
    <br/>
    <br/>


    <div >
        <h3 style="text-align: center">DEC AWS PRE-PROD EC2</h3>
    </div>



<table style="border: 1px solid;">
  <thead>
            <tr>
                <th width="1%">Hostname</th>

                <th width="1%" style="text-align: center">IP Address</th>

                <th width="1%" style="text-align: center">OS Type</th>

                <th width="1%" style="text-align: center">OS Version</th>
                
                <th width="1%" style="text-align: center">Status</th>                                                    

            </tr>

  </thead>
  <tbody>


    {% for h in ec2_pre_prod %}

      <tr>

        <td style="text-align: center">{{ h.get("tags") }}</td>                                    

        <td style="text-align: center">{{ h.get("private_ip_addr") }}</td>

        <td style="text-align: center">{{ h.get("os") }}</td>

        <td style="text-align: center">{{ h.get("os_version") }}</td>

            {% if h.get("status") == "up" %}
            <td style="text-align: center;">🟩 UP</td>
            
            
            {% elif h.get("status") != "up" %}
            <td style="text-align: center;">❌DOWN</td>                            
                            
                            
            {% endif %}                


      </tr>

    {% endfor %}

  </tbody>
</table>



<br/>
<br/>



    <div class="table-title">
        <h3 style="text-align: center">DEC AWS PRE-PROD RDS</h3>
    </div>

<table style="border: 1px solid;">
  <thead>
                <th width="1%" style="text-align: center">Instance Name</th>                
                <th width="1%" style="text-align: center">Database Name</th>
                <th width="1%" style="text-align: center">Status</th>

  </thead>
  <tbody>


    {% for rds in rds_pre_prod %}

      <tr>

        <td>{{ rds.get("addr") }}</td>        

                            
        <td style="text-align: center">{{ rds.get("instance_id") }}</td>

            {% if rds.get("status") == "available" %}
            <td style="text-align: center;">🟩 UP</td>
            
            
              {% elif rds.get("status") != "available" %}
              <td style="text-align: center;">❌ DOWN</td>            
            
            {% endif %}
                    
      </tr>

    {% endfor %}

  </tbody>
</table>    


    <br/>
    <br/>
    <br/>
    <br/>



    <div >
        <h3 style="text-align: center">DEC AWS NON-PROD EC2</h3>
    </div>

    <div class="table-title">
        <h1 style="text-align: center">Note Dev instances are shutdown from 22:00 Friday until 7:00 Monday.</h3>
    </div>

<table style="border: 1px solid;">
  <thead>
            <tr>
                <th width="1%">Hostname</th>

                <th width="1%" style="text-align: center">IP Address</th>

                <th width="1%" style="text-align: center">OS Type</th>

                <th width="1%" style="text-align: center">OS Version</th>
                
                <th width="1%" style="text-align: center">Status</th>                                                    

            </tr>

  </thead>
  <tbody>


    {% for h in ec2_non_prod %}

      <tr>

        <td style="text-align: center">{{ h.get("tags") }}</td>                                    

        <td style="text-align: center">{{ h.get("private_ip_addr") }}</td>

        <td style="text-align: center">{{ h.get("os") }}</td>

        <td style="text-align: center">{{ h.get("os_version") }}</td>

            {% if h.get("status") == "up" %}
            <td style="text-align: center;">🟩 UP</td>
            
            
            {% elif h.get("status") != "up" %}
            <td style="text-align: center;">❌DOWN</td>                            
                            
                            
            {% endif %}                


      </tr>

    {% endfor %}

  </tbody>
</table>

    <br/>
    <br/>



    <div class="table-title">
        <h3 style="text-align: center">DEC AWS NON-PROD RDS</h3>
    </div>

<table style="border: 1px solid;">
  <thead>
                <th width="1%" style="text-align: center">Instance Name</th>                
                <th width="1%" style="text-align: center">Database Name</th>
                <th width="1%" style="text-align: center">Status</th>

  </thead>
  <tbody>


    {% for rds in rds_non_prod %}

      <tr>

        <td>{{ rds.get("addr") }}</td>        

                            
        <td style="text-align: center">{{ rds.get("instance_id") }}</td>

            {% if rds.get("status") == "available" %}
            <td style="text-align: center;">🟩 UP</td>
            
            
              {% elif rds.get("status") != "available" %}
              <td style="text-align: center;">❌ DOWN</td>            
            
            {% endif %}

                    
      </tr>

    {% endfor %}

  </tbody>
</table>    


</body>

</html>